<ng-template #registrationErrorModal let-modal>
    <div class="modal-body text-center p-4">
        <div class="error-icon-wrap mb-4 animate-bounce-in">
            <div class="error-circle">
                <i class="ri-error-warning-line"></i>
            </div>
        </div>
        
        <h3 class="modal-title mb-2 animate-fade-in">{{ 'Wait a moment!' | translate }}</h3>
        <p class="modal-description mb-4 animate-fade-in-delayed">
            {{ 'The account already exists' | translate }}
        </p>

        <div class="modal-footer-btn animate-slide-up">
            <button class="btn-ok" (click)="modal.close('Ok')">
                {{ 'Ok' | translate }}
            </button>
        </div>
    </div>
</ng-template>
